/* css reset */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(44, 85, 219);
}


/* klase projekta */

.github__container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.github__input {
  width: 30%;
  background: #6c24f1fb;
  color: white;
  border-radius: 7px;
  padding: 0.7rem;
  outline: none;
  display: block;
  margin: auto;
  border: none;
  margin: 2rem auto;
  text-align: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.3rem;
}

.github__card {
  display: flex;
  padding: 2.1rem 1.4rem;
  align-items: center;
  max-width: 40%;
  background: #6c24f1fb;
  border-radius: 7px;
  color: white;
  gap: 2rem;
  box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.5);
  align-self: center;
}

.github__input::placeholder {
  color: #bbb;
  font-size: 1.5em;
}

.github__info > p {
  width: 55ch;
  line-height: 1.4;
}

.github__stuff {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.github__title {
  margin: 2rem 0;
}

.github__img {
  border-radius: 50%;
  border: 7px solid rgb(44, 85, 219);
  width: 50%;
}

.github__repos {
  margin-top: 1.4rem;
}

.github__repo {
  background: rgb(44, 85, 219);
  padding: 0.3rem;
  margin-left: 0.5rem;
}
